# Arquivos de configuração sensíveis
.env
back/.env

# Diretório de dados do PostgreSQL
pgdata/

# Dados brutos e processados
data/
*.csv
*.dbf
*.dbc
*.zip

# Diretórios temporários
__pycache__/
*.pyc

# Ambientes virtuais
.venv/
env/
venv/

# Arquivos do sistema
.DS_Store
Thumbs.db
