# Arquivos de configuração sensíveis
.env
back/.env

# Diretório de dados do PostgreSQL
pgdata/

# Ignora tudo dentro de data
data/**

# Mas mantém a estrutura das pastas
!data/
!data/cid/
!data/data_datasus/
!data/dtb/
!data/dtb/municipios/
!data/dtb/uf/
!data/ibge/

# Permite apenas arquivos .gitkeep
!data/**/.gitkeep
