# Arquivos de configuração sensíveis
.env
back/.env

# Diretório de dados do PostgreSQL
pgdata/

# Ignorar tudo dentro de data
data/**

# Mas manter as pastas principais
!data/
!data/cid/
!data/data_datasus/
!data/dtb/
!data/dtb/municipios/
!data/dtb/uf/
!data/ibge/

# Permitir apenas arquivos de estrutura vazia (por exemplo, .gitkeep)
data/**/*.csv
data/**/*.dbf
data/**/*.dbc
data/**/*.zip
data/**/*.cpg
data/**/*.prj
data/**/*.shp
data/**/*.shx